.createcard {
  border: 2px solid wheat;
  width: 70%;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 20px;
}

.createcard > form > p {
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: bold;
}

.createcard > form > input {
  height: 20px;
  width: 98%;
  font-size: 16px;
  padding: 5px;
}

.createcard__btn {
  border: 1px solid black;
  box-shadow: 0 2 3 #ccc;
  width: 98%;
  margin-top: 10px;
  height: 30px;
  background-color: #1bb76e;
  border-color: #0e2c1e #1bb76e #198552;
  color: white;
  font-weight: 400;
  letter-spacing: 1px;
  align-self: center;
  margin-bottom: 10px auto;
}

.createcard__btn__preview {
  margin-top: 10px;
  height: 30px;

  background-color: whitesmoke;
  border: 1px solid black;
  box-shadow: 0 2 3 #ccc;
  width: 98%;
  text-align: center;
}
