.Home {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
  flex-grow: 2;
}

.Home__left {
  border: 0px solid lightgrey;
  border-left-width: 1px;
  width: 60%;
  flex: 1 1 60%;
  padding: 30px;
  display: flex;
  height: max-content;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.Home__right {
  width: 70%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  background-color: white;
}

@media only screen and (max-width: 720px) {
  .Home {
    flex-wrap: wrap;
    flex-grow: 1;
  }
  .Home__left {
    border-left-width: 0px;
    flex: 1 0 100%;
  }
}
