.mycards {
  width: 100%;
  height: max-content;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.card__item {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  list-style-type: none;

  width: 100%;
  background-color: white;
}

.card__item li {
  margin: 20px;
  border-bottom: 1px solid black;
  border-radius: 30px;
  height: max-content;
  padding: 5px;
}

.cards__icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px;
  margin-top: 20px;
  height: max-content;
}

.option__one {
  align-self: center;
  margin-right: 8px;
  height: 22px;
}

.option__two {
  align-self: center;
}

a {
  text-decoration: none;
  color: inherit;
}
