.viewcard {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: max-content;
  border-radius: 20px;
  margin: 10px 10px;

  align-items: center;
  justify-content: space-between;
  border: 1px solid lightgrey;
  -webkit-box-shadow: 6px 7px 16px -8px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 6px 7px 16px -8px rgba(0, 0, 0, 0.61);
  box-shadow: 6px 7px 16px -8px rgba(0, 0, 0, 0.61);
  vertical-align: middle;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.viewcard__logo {
  max-height: 150px;
  width: 150px;
  margin: 20px;
  object-fit: contain;
  border-radius: 5px;
}

.viewcard__details {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px auto;
  margin-bottom: 30px;
}

.viewcard__details > div {
  width: 70%;
  height: max-content;
  margin: 5px;
  padding-left: 10px;
  border: 1px solid black;
  border-color: inherit;
  border-radius: 4px;
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  justify-content: flex-start;
}

.viewcard__details > div > p {
  margin: auto 20px;
}

.name {
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 2px;
  height: max-content;
  margin: auto 30px;
  text-align: center;
}

.job {
  margin: 8px 30px;
  font-weight: 500;
  height: max-content;
  text-align: center;
}

.viewcard__socialIcons {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 20px auto;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-width: 1px 0;
}

.viewcard__socialIcons > a {
  margin: 0 10px;
  text-decoration-style: none;
  color: inherit;
}

.place {
  font-weight: 500;
  margin-top: 10px;
}

.mobile {
  font-weight: 500;
  margin-top: 20px;
}

.email {
  font-weight: 500;
  margin-top: 10px;
}

.website {
  font-weight: 500;
  margin-top: 10px;
}

.sharelink {
  margin-top: 30px;
  width: 50%;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sharelink > input {
  width: 100%;
  height: 12px;
  padding: 10px;
  border: none;
}

.copyarea {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.copyicon {
  padding: 5px;
  height: 22px !important;
}

.NavLinks {
  text-decoration: none;
  color: inherit;
  margin: auto 20px;
}
